# database
db

# redaxo config
html/redaxo/data/core/config.yml

# installer configuration
html/redaxo/data/addons/install/config.json

# cache folder (except hidden files)
html/redaxo/cache/*
!html/redaxo/cache/.*

# redaxo media files (except in subfolders)
html/media/*
!html/media/.*

# log folder and log files
/redaxo/data/log/*
*.log

# ENV wird lokal definiert, hat deshalb nichts im Repo zu suchen
.env

# Keine Node-Module versionieren!
# Unnötig groß für ein Repo, und sie kommen ja per npm/yarn.
node_modules

# diverse
.idea
